body {
  background-color: lightcyan;

}

.App {
  text-align: center;
  height: 100vh;
  margin: 30px auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.smurflist-container {
  width: 90%;
  margin: 0 auto;
}

.smurfs-container {
  display: flex;
  justify-content: space-evenly;
  margin: 64px auto;
  flex-wrap: wrap;
}

.smurf {
  margin: 20px 12px;
  background-color: white;
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 25%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-size: 1rem;
  margin: 6px auto;
  width: 20%;
  padding: 12px 6px;
}

button {
  margin: 12px auto;
  width: 18%;
  padding: 12px 6px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 25px;
}

button:hover {
  background-color: lightcoral;
  color: white;
}